@model Week2_PhamHoangPhiHieu.Models.Category

@{
    ViewData["Title"] = "Xóa danh mục";
}

<h2>Xóa danh mục</h2>

<h3>Bạn có chắc chắn muốn xóa danh mục này?</h3>
<div>
    <h4>Thông tin danh mục</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" /> @* Ẩn Id để gửi lại khi submit *@
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>